CDN_API_KEY=apikey 123
STRIPE_SECRET_KEY= sk
PANEL_ADDRESS=http://localhost:3000
AUTH0_DOMAIN=https://dev-r143orkluikqsgxl.us.auth0.com/
AUTH0_AUDIENCE=Dev-Verge-API
TARGET_URL="https://napi.arvancloud.ir/cdn/4.0"